# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\MSI PC\Documents\GitHub\ProyectoCajaAhorros\.idea/dataSources/
/dataSources.local.xml
